@use '../../node_modules/swiper/swiper-bundle';

body {
  font-size: 30px;
  padding: 100px;
  background-color: orange;
}

.header {
  background-color: #000;
  color: #fff;
  height: 300px;
  padding: 50px;
}

.main {
  padding: 100px;
  background-color: gray;
  height: 500px;
}

.footer {
  background-color: #000;
  color: red;
  padding: 50px;
  height: 300px;
}
